.main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  text-align: center;
  background-color: #fea500;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

img {
  width: 200px;
  height: 200px;
}

h1,
p {
  color: #553bd0;
}
